.questionGroup {
    background-color: rgb(205, 228, 209);
    margin: 0 auto;
    margin-top: 2rem;
    color: rgb(64, 134, 6);
    padding: 1rem;
    max-width: 1000px;
    width: 90%;
    border-radius: .5rem;
    position: relative;
}

.questionGroup p {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: 'Noto Sans Mono', monospace;
}

.questionGroup .eye {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 40px;
}

#singleQuestion {
    background-color: white;
    border: 1px solid purple;
    padding: .5rem 1rem;
    margin: .5rem 0;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    font-family: 'Noto Sans Mono', monospace;
}

#singleQuestion:hover {
    background-color: rgb(233, 255, 225);
}

.labelText {
    /* color: purple; */
    font-weight: bold;
    font-size: 1.1rem;
    background-color: #97ff99 !important;
}

/* .singleQuestion label {
} */

@media (min-width: 768px) {
    .question {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .5rem;
    }
}